* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

html {
  background: linear-gradient(45deg, #BDFFFD, #9FFFF5, #7CFFC4, #6ABEA7, #1F363D);
  font-family: 'Viga', sans-serif;
}

body {
  width: 100%;
}

body{
  padding: 15vh 10vw 8vh 10vw;
}

section{
  padding-top: 50px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 0px 13px 0px black;
}

section form{
  display: flex;
  flex-direction: column;
  font-family: 'Viga', sans-serif;
  padding: 20px;
}

section form h1{
  text-align: center;
  margin-bottom: 30px;
}

section form .campos{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  padding-bottom: 15px;
}

section form .campos label{
  margin-bottom: 8px;
}

section form .campos input{
  padding: 10px 5px;
  width: 100%;
  border: 2px solid #7CFFC4;
  outline-color: #BDFFFD;
  border-radius: 10px;
}

section form button{
  margin: auto;
  padding: 10px 0;
  width: 60%;
  font-family: 'Viga', sans-serif;
  font-size: 1.0rem;
  background-color: #1F363D;
  border: none;
  border-radius: 25px;
  color: White;
  transition: all ease .3s;
}

section form button:hover{
  cursor: pointer;
  background-color: #6ABEA7;
  color: black;
  transform: scale(1.1);
}